body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.black {
  background-color: #282828;
  padding: 1em 2em;
  box-shadow: 0px 5px 4px 2px #21252973;
}

.navbar {
  background-color: #282828;
}

.img-profile {
  width: 110px;
}

.d-flex {
  display: flex;
  align-items: center;
}

span.textName {
  color: #fff;
  padding-right: 0.5em;

}

.person {
  width: 40px;
  color: #fff;
}

/* sidebar */
.nuestroSidebar {
  width: 20%;
  height: 100vh;
  background: #282828;
  z-index: 1000 !important;
  position: relative !important;
  padding-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 3em;

}

.contDash {
  width: 85%;
  box-sizing: border-box;
}

.itemLink {
  text-decoration: none !important;
  color: #00FFCB;
  font-weight: 600;
  margin-bottom: 1em;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 2px solid transparent;
  padding:0.2em 0.5em;
margin-bottom: 1em;
}
.itemLink a{
  text-decoration: none !important;
  color: #00FFCB;
  font-weight: 500;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}
.itemLink:hover {
  border-top: 2px solid #00FFCB;
  border-bottom: 2px solid #00FFCB;
  border-left: 2px solid #00FFCB;
  background-color: #2D2D35;
  color: #fff;
}
.itemLink:active {
  border-top: 2px solid #00FFCB;
  border-bottom: 2px solid #00FFCB;
  border-left: 2px solid #00FFCB;
  background-color: #2D2D35;
  color: #fff;
}
.itemLink:hover a{
  color: #fff;
}
.bkgBody {
  background-color: #2D2D35 !important;
  height: 100vh;
  width: 100%;
  position: relative;
  z-index: -200;
  padding: 2em 4em;
  box-sizing: border-box;
}

.widthBody {
  padding-top: 0.5em;
  width: 72vw;
}

.flexUno {
  display: flex;
  justify-content: flex-start;
}

.inCard {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em 1em 1em;
  box-sizing: border-box;
}

.inCard h2 {
  font-size: 50px;
  font-weight: 800;
  color: #fff;
  margin-bottom: -0.1em;
  text-align: center;
}

.inCard p {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  margin-bottom: -0.1em;
  text-align: center;
}

.img-card {
  width: 60px;
  float: right;
}

.bkg-succes {
  background-color: red;
}

.bkg-violeta {
  background-color: #6243F7;
}

.bkg-azul {
  background-color: #3651F7;
}

.bkg-verde {
  background-color: #00A987;
}

.contentUltimoCurso,
.contentTabla {
  background-color: #3A3B4F;
  border-radius: 15px;
  box-sizing: border-box;
  margin-top: 2em;
  height: 55vh;
  padding: 0.5em 1em;
}

h2.tituloUltimo {
  font-size: 18px;
  color: #fff;
  padding: 0.5em 0em;
  background-color: #6243F7;
  border-radius: 15px;
  width: 80%;
  margin: 1em auto;
  text-align: center;
}
.flexProfes{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1.5em 0.5em;
}
.contentProfe{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.img-profe{
  width: 120px;
}
.nombreProfe{
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  text-align: center;
  margin-top: 1em;
}
.caract{
  list-style: none;
  text-align: left;
  color: #fff;
  font-size: 16px;
}




/* tabla  */
.tituloTabla{
  padding: 0.5em 2em;
  margin: 0.5em auto -0.5em;

}
.textoTitulo{
  color:#fff;
  font-size: 0.9rem;
  font-weight: 600;
}

.filaTabla{
  padding: 0.5em 2em;
  border: 1px solid #00FFCB;
  border-radius: 5px;
  margin: 0.8em auto;
}
.textoFila{
  color:#fff;
  font-size: 0.9rem;
  font-weight: 600;
}

/* ***** productos */
.flexCursos{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
  padding: 2em 0em;
}
.cardCurso{
  box-sizing: border-box;
  margin: 1em;
  padding: 0.5em;
  border-radius: 10px;
  border: 1px solid #fff;
}
.cardCurso .inCard{
  align-items: flex-start;
  justify-content: flex-start;
}
.cardCurso h2{
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  border-bottom: 1px solid #00FFCB;
  text-align: left;
}

.cardCurso p{
  padding-top: 0.5em;
  font-size: 0.8rem;
  font-weight: 600;
  text-transform: capitalize;
  
  text-align: left;
}

.ver{
  background-color: #00FFCB;
  border: none;
  margin-top: 2em;
  border-radius: 5px;
}


/* mas vendido */

.tituloMasVendido{
  background-color: #6243F7;
  margin: 1em auto;
  border-radius: 10px;
  padding: 0.5em 1em;
  text-align: center;
  color: #fff;
  width: 80%;
}
.tituloMasVendido h2{
  font-size: 1.5rem ;
  margin-bottom: 0px;
}
.tituloMasVendido h4{
  font-size: 1rem ;
  margin-bottom: 0px;
}

.contentRanking{
  background-color: #00FFCB;
  border-radius: 10px;
  border: 1px solid #fff;
  width: 90%;
  margin: 1.2em auto !important;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0px 1em;
 
}
.contentRanking .numberR{
  font-size: 25px;
  font-weight: 800;
  margin-right: 2em;
  color: #3651F7;
  margin-bottom: 0px;
}
.contentRanking .languageR{
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 0px;
}